chroma-hnswlib==0.7.6
chromadb==0.6.3
chromadb 
pysqlite3-binary
groq==0.15.0
huggingface-hub==0.27.1
langchain==0.3.16
langchain-community==0.3.16
langchain-core==0.3.32
langchain-groq==0.2.3
langchain-text-splitters==0.3.5
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
pypdf==5.2.0
python-dotenv==1.0.1
sentence-transformers==3.4.0
streamlit==1.41.1
tokenizers==0.21.0
transformers==4.48.1
unstructured==0.16.16
unstructured-client==0.29.0
